/* LIGHT THEME VARIABLES */
:root {
    --bg-color: #f4f6f9;
    --card-bg: #ffffff;
    --text-main: #0f172a;
    --text-secondary: #475569;
    --accent-color: #0284c7;
    --border-color: #e2e8f0;
    --modal-overlay: rgba(15, 23, 42, 0.6);
}

body { background-color: var(--bg-color); color: var(--text-main); }
.quick-box, .trending-card { background: var(--card-bg); border: 1px solid var(--border-color); }
.quick-box span { color: var(--text-secondary); }
.trending-card h4 { color: var(--accent-color); }
.modal-box { background: var(--card-bg); color: var(--text-main); }